<section class="form">
  <form action="/ValidaLogin" method="POST">
    <div class="form-header">
      <h1>Login</h1>
    </div>
    <div class="input-group">
      <div class="input-box">
        <label for="user">Usuario:</label>
        <input id="user" type="text" name="user" placeholder="Informe seu Usuario" required>
      </div>
      <div class="input-box">
        <label for="password">Senha:</label>
        <input id="password" type="password" name="password" placeholder="Informe sua Senha" required>
      </div>
    </div>
    <div class="remember-password">
      <a href="#">Esqueceu a senha?</a>
    </div>
    <div class="login-button">
      <button type="submit" >Entrar</button>
    </div>
  </form>
</section>