<div class="Menu" >
<nav class="ui secondary menu">
    <a class="item left menu" href="#" style="color:white" >Logo</a>
    <a class="item right menu" href="/"style="color:white"  >Página Inicial</a>
    <a class="item" href="/Demo" style="color:white" >Solicite Demonstração</a> 
    <a class="item" href="#" style="color:white" >Contato</a>
    <a class="item" href="/Login" style="color:white">Login</a>
</nav>
</div>